<%- include ../../layouts/header %>

<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Karyawan</h1>

        <% if(alert.message != "") { %>
        <div class="alert alert-<%= alert.status %> alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                <strong>Hello there!</strong> <%= alert.message %>
            </div>
        </div>
        <% } %>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-end">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-modal">
                                <i class="align-middle" data-feather="plus"></i>Tambah
                            </button>
<!--                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#add-modal"><i class="align-middle" data-feather="plus"></i>Tambah</button>-->
                        </div>
                        <h2 class="card-title">List Data Karyawan</h2>
                        <h6 class="card-subtitle text-muted">Berikut ini adalah list data karyawan yang telah disimpan didalam aplikasi ini.</h6>
                    </div>
                    <div class="card-body">
                        <table id="datatables" class="table table-striped" style="width:100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nama</th>
                                <th>Email</th>
                                <th>NPP</th>
                                <th>Jabatan</th>
                                <th>Entitas</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(let i = 0; i < karyawan.length; i++){ %>
                                <tr>
                                    <td><%= i +1 %></td>
                                    <td><%= karyawan[i].nama %></td>
                                    <td><%= karyawan[i].email %></td>
                                    <td><%= karyawan[i].npp %></td>
                                    <td><%= karyawan[i].jabatan %></td>
                                    <td><%= karyawan[i].entitas %></td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-outline-warning btn-sm button-update"><i class="align-middle" data-feather="edit"></i></a>
                                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="align-middle" data-feather="trash"></i></button>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Add Modal -->
<%- include('add_modal.ejs') %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        $("#datatables").DataTable({
            pageLength: 6,
            lengthChange: false,
            bFilter: true,
            autoWidth: false
        });
    });
</script>

<%- include ../../layouts/footer %>